/.vs
/CppSharpFusion.sln.DotSettings.user
/output
/x64
/clrWrapper/obj
/clrWrapper/bin
/clrWrapper/x64
/cppCore/obj
/cppCore/bin
/cppCore/x64
/cppNetInteropTest/obj
/cppNetInteropTest/bin
/cppNetInteropTest/x64
/netView/obj
/netView/bin
/netView/x64
/netCliWrapper/obj
/netCliWrapper/bin
/netCliWrapper/x64